body {
    background-color: rgb(186, 206, 243);
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Verdana, sans-serif;
}

.info {
    margin-top: 40px;
    background-color: antiquewhite;
    height: 2000px;

}

h4 {
    margin-left: 5px;
    margin-top: 7px;
    font-size: 20px;
}

.content {
    margin-left: 5px;
    margin-top: -10px;
    font-size: 20px;
}

img {
    margin-left: 100px;
    width: 900px;

}

@media (max-width:700px) {
    img {
        margin-left: 10px;
        width: 230px;
    }

    h4 {
        font-size: 18px;
    }

    .content {
        font-size: 15px;
    }

    .info {

        height: 1500px;

    }
}